.titulo__proyectos{
    color: white;
    bottom: 400px;
    font-size: 2rem;
    margin-bottom: 40px;margin-top: 4   0px;
}

.proyectos__container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fondo__proyect {
    width: 300px;
    margin-top: -80px;
    z-index: -1;
}

.fondo__proyect2{
    width: 300px;
}

.proyectos__container  img {
    object-fit: cover;
}



@media only screen and (min-width:600px){
    .fondo__proyect {
        width: 500px;
        margin-left: 65%;
        margin-top: 100px;
    
    }
}











            /* Escritorio */

            @media only screen and (min-width: 1024px) {
.titulo__proyectos{
    color: white;
    bottom: 400px;
    font-size: 70px;
    margin-top: -100px;
}

.proyectos__container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fondo__proyect {
    width: 500px;
    margin-left: 65%;

}

.fondo__proyect2{
    width: 500px;
    margin-right: 65%;
}



            }